*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root{
  --primary-clr: hsl(125, 100%, 23%);
  --light-clr: hsl(125, 39%, 45%);
}

a{
  text-decoration: none;
  color: unset;
}